<main class="main main--auth">
  <div class="sign">
    <div class="sign__inner sign__inner--complete">
      <div class="d-flex sign__inner-content">
        <div class="sign__logo sign__logo--complete">
            <a class="menu__logo" href="#">
              FIXLET
            </a>
          <h1 class="sign__logo-title">Welcome you</h1>
          <div class="sign__logo-ft d-flex align-items-center justify-content-between">
            <div class="sign__logo-user">Doesn't have an account?<a class="sign__logo-link" href="<%= signup_path %>">Create an account</a></div><i class="icon-fonts icon-fonts--arrow-right1"></i>
          </div>
        </div>
        <div class="sign__content sign__content--complete sign__content--signin">
          <h3 class="sign__sub-title mb-3 pb-1">Login</h3>
          <% flash.each do |type, msg| %>
            <div class="alert alert-danger">
              <%= msg %>
            </div>
          <% end %>
          <%= form_with local: true do |form| %>
            <div class="form-group form-customize form-customize--has-value">
              <%= form.label :email, class:"label-title" do %>
                Email<span class="required">*</span>
              <% end %>
              <%= form.text_field :email, class: "form-control", type: "email", placeholder: "toannt181@gmail.com" %>
            </div>
            <div class="form-group form-customize form-customize--has-value">
              <%= form.label :password, class:"label-title" do %>
                Password<span class="required">*</span>
              <% end %>
              <%= form.text_field :password, class: "form-control", type: "password", placeholder: "****************" %>
            </div>
            <div class="sign__button d-flex justify-content-between align-items-center mt-3 pt-2"><a class="sign__button-link" href="#">Forget password?</a>
              <button type="submit" class="button button--blue button--w-140">Login
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
