<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="project project--detail">
        <div class="row">
          <div class="col-12">
            <h2 class="project__title">Actor detail</h2>
            <div class="tab">
              <div class="tab-content">
                <div class="project__tabs tab-pane active" id="project-overview">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="user__avatar mx-auto">
                        <img class="user__img" src="<%= @actor.image.attached? ? url_for(@actor.image) : '/images/img-avatar-default.png' %>">
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="project__detail">
                        <div class="project__souvenir">
                          <h3 class="project__sub-title">Actor</h3>
                          <div class="project__souvenir-choice"><i class="icon-fonts icon-fonts--gift1"></i><%= @actor.name %>
                          </div>
                        </div>
                        <div class="project__textarea">
                          <div class="span project__textarea-title">Biography</div>
                          <%= @actor.biography %>
                        </div>
                        <div class="mt-3">
                          <div class="span project__textarea-title">Gender</div>
                          <%= @actor.gender == 1 ? 'Male' : 'Female' %>
                        </div>
                        <ul class="list-detail d-flex justify-content-between align-items-center">
                          <li class="list-detail__item active"><a class="d-flex align-items-center" href="#"><span class="list-detail__icon"><i class="fa fa-calendar"></i></span>
                              <div class="d-flex justify-content-center flex-column align-items-center"><span class="list-detail__title">Birthday</span><span class="list-detail__sub-title actor-birthday"><%= @actor.birthday %></span></div>
                            </a></li>
                          <li class="list-detail__item active"><a class="d-flex align-items-center" href="#"><span class="list-detail__icon"><i class="fa fa-heart"></i></span>
                              <div class="d-flex justify-content-center flex-column align-items-center"><span class="list-detail__title">Age</span><span class="list-detail__sub-title actor-age"><%= @actor.age %></span></div>
                            </a></li>
                          <li class="list-detail__item active"><a class="d-flex align-items-center" href="#"><span class="list-detail__icon"><i class="fa fa-clock-o"></i></span>
                              <div class="d-flex justify-content-center align-items-center flex-column"><span class="list-detail__title">Last edited</span><span class="list-detail__sub-title"><%= @actor.updated_at %></span></div>
                            </a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="project__button d-flex justify-content-center align-items-center mt-5">
                    <a href="<%= actors_path %>" class="button button--bg-white button--medium button--base mr-3"><i class="icon-fonts icon-fonts--edit-18 fa fa-arrow-left"></i>Back
                    </a>
                    <a href="<%= edit_actor_path @actor %>" class="button button--red button--medium button--base ml-2" data-toggle="modal" data-target="#modalDeleteProject"><i class="icon-fonts icon-fonts--edit-18 fa fa-edit"></i>Edit
                    </a>
                  </div>
                </div>
                <div class="tab-pane" id="todo-list"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>