<div class="card">
  <div class="card-body">
      <% @comments.each do |comment| %>
      <div class="row">
          <div class="col-md-2">
              <%# <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/> %>
              <p class="text-secondary text-center"><%= comment.created_at %></p>
          </div>
          <div class="col-md-10">
              <p><a href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong><%= comment.user.name %></strong></a></p>
              <p><%= comment.content %></p>
              <p>
                <a class="float-right btn btn-outline-primary ml-2">  <i class="fa fa-reply"></i> Reply</a>
                <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
              </p>
          </div>
      </div>
      <% end %>
  </div>
</div>


<%= form_with model: [@movie, @comment], local: true, class: "my-4" do |form| %>
    <div class="form-group">
        <%= form.label :content, "Comment" %>
        <%= form.text_area :content, class: "form-control", rows: "3" %>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
<% end %>
