<%= form_with model: @movie do |form| %>
  <div id="error-container" class="mt-4">
  </div>
  <div class="project__content">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group form-customize form-customize--has-value">
          <%= form.label :title, "Movie title", class: "label-title" %>
          <%= form.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group form-customize form-customize--has-value">
          <%= form.label :release_date, "Release date", class: "label-title" %>
          <%= form.text_field :release_date, class: "form-control input-datepicker" %>
        </div>
        <div class="form-group form-customize form-customize--has-value">
          <%= form.label :actors, "Actors", class: "label-title" %>
          <div class="form-group form-customize">
            <%= select_tag(
              "movie[actors]",
              options_for_select(@actors.map { |actor| [actor.name, actor.id] }, @movie.actors.map { |actor| actor.id }),
              multiple: true,
              class: "form-control select-actor",
              placeholder: "Search and select actor",
              value: "1"
            ) %>
          </div>
          <ul class="actor-thumbnails">
            <li class="actor-thumbnails__item d-inline item-sample">
              <%= render 'components/avatar', picture: '/images/img-avatar-default.png' %>
            </li>
            <%  @movie.actors.each do |actor| %>
              <li class="actor-thumbnails__item d-inline" data-id="<%= actor.id %>">
                <%= render 'components/avatar', picture: actor.image.attached? ? url_for(actor.image) : '/images/img-avatar-default.png' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group form-customize form-customize--textarea form-customize--has-value">
          <%= form.label :description, "Description", class: "label-title" %>
          <%= form.text_area :description, class: "form-control form-control--textarea" %>
        </div>
      </div>
      <div class="col-md-12 mb-4">
        <div class="form-group form-customize form-customize--textarea form-customize--has-value">
          <%= form.label :description, "Thumbnail pictures", class: "label-title" %>
        </div>
        <div class="d-flex">
          <% @movie.thumbnails.each do |thumbnail| %>
            <div class="movie__thumbnail-img">
              <img src="<%= url_for(thumbnail) %>">
                <%= link_to @movie, method: :delete, class: "button button--red button--small button--base" do %>
                  <i class="fa-2x fa fa-times"></i>
                <% end %>
            </div>
          <% end %>
          <label class="movie-dropzone">
            <i class="fa fa-plus icon-fonts icon-fonts--add-30"></i>
            <p class="movie-dropzone-count d-none"><span class="number"></span> new file</p>
            <%= form.file_field :thumbnails, multiple: true %>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="button-group d-flex justify-content-center">
    <a href="<%= back_to_link %>" class="button button--bg-white button--medium button--base mr-3"><i class="icon-fonts icon-fonts--edit-18 fa fa-arrow-left"></i>Back
    </a>
    <button type="submit" class="button button--blue button--medium ml-1"><i class="fa fa-check mr-1"></i>Save
    </button>
  </div>
<% end %>

<script>
  var actors = JSON.parse('<%== j @actors_json %>')
</script>

<%= javascript_include_tag "datepicker", "data-turbolinks-track" => "reload" %>
<%= stylesheet_link_tag "datepicker", media: "all", "data-turbolinks-track" => "reload" %>
<%= javascript_include_tag params[:controller] %> 
