<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="project project--detail">
        <div class="row">
          <div class="col-12">
            <h2 class="project__title">Movie detail</h2>
            <div class="tab">
              <div class="tab-content">
                <div class="project__tabs tab-pane active" id="project-overview">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="project__souvenir-choice">
                        <ul class="movie-thumbnails">
                          <% if @movie.thumbnails.empty? then %>
                            <div class="movie__thumbnail-img">
                              <img src="/images/placeholder.png">
                            </div>
                          <% else %>
                            <% @movie.thumbnails.each do |thumbnail| %>
                              <div class="movie__thumbnail-img">
                                <img src="<%= url_for(thumbnail) %>">
                              </div>
                            <% end %>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="project__detail">
                        <div class="project__souvenir">
                          <h3 class="project__sub-title">Movie title</h3>
                          <div class="project__souvenir-choice"><i class="icon-fonts icon-fonts--gift1"></i><%= @movie.title %>
                          </div>
                        </div>
                        <div class="project__textarea">
                          <div class="span project__textarea-title">Description</div>
                          <%= @movie.description %>
                        </div>
                        <ul class="list-detail d-flex justify-content-between align-items-center">
                          <li class="list-detail__item active"><a class="d-flex align-items-center" href="#"><span class="list-detail__icon"><i class="fa fa-calendar"></i></span>
                              <div class="d-flex justify-content-center flex-column align-items-center"><span class="list-detail__title">Release date</span><span class="list-detail__sub-title"><%= @movie.release_date %></span></div>
                            </a></li>
                          <li class="list-detail__item active"><a class="d-flex align-items-center" href="#"><span class="list-detail__icon"><i class="fa fa-clock-o"></i></span>
                              <div class="d-flex justify-content-center align-items-center flex-column"><span class="list-detail__title">Last edited</span><span class="list-detail__sub-title"><%= @movie.updated_at %></span></div>
                            </a></li>
                        </ul>
                        <div class="project__souvenir">
                          <h3 class="project__sub-title">Actors list</h3>
                          <div class="project__souvenir-choice">
                            <ul class="actor-thumbnails">
                              <%  @movie.actors.each do |actor| %>
                                <li class="actor-thumbnails__item d-inline" data-id="<%= actor.id %>">
                                  <%= render 'components/avatar', picture: actor.image.attached? ? url_for(actor.image) : '/images/img-avatar-default.png' %>
                                </li>
                              <% end %>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="project__button d-flex justify-content-center align-items-center mt-5">
                    <a href="<%= movies_path %>" class="button button--bg-white button--medium button--base mr-3"><i class="icon-fonts icon-fonts--edit-18 fa fa-arrow-left"></i>Back
                    </a>
                    <%= link_to @movie, method: :delete, class: "button button--red button--medium button--base mr-3" do %>
                      <i class="icon-fonts icon-fonts--edit-18 fa fa-times"></i>Delete
                    <% end %>
                    <a href="<%= edit_movie_path @movie %>" class="button button--bg-blue button--medium button--base" data-toggle="modal" data-target="#modalDeleteProject"><i class="icon-fonts icon-fonts--edit-18 fa fa-edit"></i>Edit
                    </a>
                  </div>
                </div>
                <div class="tab-pane" id="todo-list"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <%= render 'comments/form' %>
    </div>
  </div>
</div>