<header class="header-pc">
  <div class="header-pc__nav">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header-pc__menu d-flex justify-content-between">
            <div class="menu d-flex align-items-center">
              <a class="menu__logo" href="/">
                FIXLET
              </a>
              <ul class="menu__list menu-nav">
                <li class="menu__item js-menu-item active"><%= link_to 'Movies', movies_path %></li>
                <li class="menu__item js-menu-item"><%= link_to 'Actors', actors_path %></li>
              </ul>
            </div>
            <div class="menu-user">
              <a class="menu-user__avatar d-flex align-items-center justify-content-between" href="#">
                <div class="menu-user__img"><%= current_user[:name][0] %></div>
                <div class="menu-user__name"><%= current_user[:name] %></div>
                <div class="menu-user__icon"><i class="fa fa-caret-down"></i>
                </div>
              </a>
              <ul class="menu-user__list">
                <li class="menu-user__item"><%= link_to "Logout", logout_path, method: :delete %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>